#profile {
  padding-top: 4em;
  padding-bottom: 6em;
  display: grid;
  grid-template-areas: "image txcontainer";
  grid-template-columns: 1fr 5fr;
  grid-gap: 2em;
  justify-items: center;
  align-items: center;
}

#profile-img {
  width: 20em;
  grid-area: image;
}

#text-container {
text-align: left;
grid-area: txcontainer;
}

#name {
  display: inline-block;
}

#lead {
  display: inline;
  font-size: 2em;
}

#introduction {
  display: inline;
  font-size: 1.1rem;
}

@media only screen and (max-width: 750px)   {
  #profile {
    display: block;
  }
  #profile-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2.5em;
    width: 100%;
  }
  #name, #lead {
    display: inline-block;
    padding-bottom: .25em
  }
  #lead {
    font-size: 2rem;
  }
}