img {
    width: 15rem;
    /* margin: 0rem 2.5rem 4rem 2.5rem; */
    margin-left: 2.5em;
    margin-right: 2.5em;
}

#profile {
  padding-top: 4em;
  padding-bottom: 6em;
}

#name {
  display: inline-block;
}

#lead {
  display: inline;
  font-size: 2.5rem;
}

#introduction {
  display: inline;
  font-size: 1.5rem;
}

@media only screen and (max-width: 750px)   {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2.5em;
    width: 100%;
  }
  #name, #lead {
    display: inline-block;
    padding-bottom: .25em
  }
  #lead {
    font-size: 2rem;
  }
}