<div class="jumbotron">
  <img src="../assets/profile_photo.jpeg" class="img-round float-left">
  <h1 class="display-4">Hey, I'm Justin</h1>
  <p class="lead">
    Technology is intergral part of most lives today especially mine. I have always been passionate 
    about it and interested in creating the next generation of technology for the future.
  </p>
  <p>
    I am currently a Junior pursuing a bachelor of science in computer science at University of 
    Michigan where I plan on receiving my degree in the summer of 2019. My main focus is in software 
    engineering and artificial intelligence. As far as experience, I have interned at General 
    Electric and DTE Energy working on web development and testing. To learn more about me click on 
    the links below.
  </p>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-6">
      <h2>Projects</h2>
      <p>
        Here are some of the projects I've worked on in and outside of school. I really enjoy 
        coding and learning new technologies,languages, and frameworks. So I am constantly 
        working on new projects. Click below to check some of them out.
      </p>
      <p>
        <a class="btn btn-secondary" routerLink="/projects" role="button">View details &raquo;</a>
      </p>
    </div>
    <div class="col-md-6">
      <h2>Resume</h2>
      <p>
        Below is a link to my resume. These are the specific details of my skills, education, and 
        groups/extracurriculars I have been involved in. There will also be a link on the page to
        download my resume. Please check it out I am highly invested in developing my skills.
      </p>
      <p>
        <a class="btn btn-secondary" routerLink="/resume" role="button">View details &raquo;</a>
      </p>
    </div>
  </div>
