<div class="container">

  <div class="row featurette" id="additives-project">
    <div class="col-md-7">
      <h2 class="featurette-heading">GE Additives Material Project</h2>
      <p class="text-muted">GE Digital (September - December 2017)</p>
      <p>
      During my second internship with GE Digital I worked on a application for GE Additives. The project was to create a
      web application to store all GE's material catalog data and provide a place for GE customers and testers to be able
      to view the material catalog.
      </p>
      <p>
      For this project I worked on the front end of the website. The framework we used for the front end were Angular2. During
      the project I learned more about using typescript, as I worked on a tool for parsing excel sheets with data into
      the Material database. I also worked on the overall styling of the web application.
      </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="../assets/ge_additives_logo.gif" alt="Generic placeholder image">
    </div>
  </div><!-- End of additives-project !-->

  <hr class="featurette-divider">

  <div class="row featurette" id="dte-project">
    <div class="col-md-7">
      <h2 class="featurette-heading">DTE PowerClerk</h2>
      <p class="text-muted">DTE Energy (January - May 2017)</p>
      <p>
      At my engineering Co-op at DTE Energy I worked on a new application system for customers to acquire and build 
      renewable energy sources into their businesses or homes. I specifically responsible for migrating the old data
      into a new build system called PowerClerk, that would allow for more automation for the customer and engineers 
      involved in the project.
      </p>
      <p>
      During this project, I was mainly responsible for migrating our data from the old system into the new one. Most of
      the data was collected through CSV files, that I would obtain from SQL queries from the old database. After this,
      much of the data was missing or incorrect values for some projects, so I would have to parse through the data using
      excel.
      </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="../assets/dte_energy.jpg" alt="Generic placeholder image">
    </div>
  </div><!-- End of dte-project !-->

</div><!-- End of Container !--> 
