<div class="container">
  <div class="row featurette" id="additives-project">
    <div class="col-md-7">
      <h2 class="featurette-heading">GE Additives Material Project</h2>
      <p class="text-muted">GE Digital (September - December 2017)</p>
      <p>During my second internship with GE Digital I worked on a application for GE Additives. The project was to create a
        web application to store all GE's material catalog data and provide a place for GE customers and testers to be able
        to view the material catalog.</p>
      <p>
        For this project I worked on the front end of the website. The framework we used for the front end were Angular2. During
        the project I learned more about using typescript, as I worked on a tool for parsing excel sheets with data into
        the Material database. I also worked on the overall styling of the web application.
      </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="../assets/ge_additives_logo.gif" alt="Generic placeholder image">
    </div>
  </div>
</div>