<div class="container">
  <div class="card-block" id="additive-project">
    <img 
      class="img-fluid rounded card-img-top" 
      src="../assets/ge_additives_logo.gif" 
      alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">GE Additives Material Project</h4>
      <h6 class="card-subtitle mb-2 text-muted">GE Digital</h6>
      <p class="lead"><strong>About</strong></p>
      <p class="card-text">
        During my second internship with GE Digital I worked on a application for GE Additives.
        The project was to create a web application to store all General Electric's material 
        catalog data and a place for GE customers and testers to be able to view all General 
        Electric's material catalog.
      </p>
      <p class="lead"><strong>Technology</strong></p>
      <p class="card-text">
        For this project I worked on the front end of the website. The framework we used for the
        front end were Angular2. During the project I learned more about using typescript, as I 
        worked on a tool for parsing excel sheets with data into the Material database. I also
        worked on the overall styling of the web application.
      </p>
    </div>
  </div>
</div>