<div class="container">
  <h1>Resume</h1>

  <h3>Education</h3>
  <div class="container" id="education">
    <p class="lead">
    University of Michigan (College of Engineering)
    </p>
    <ul>
      <li>Expected Graduation date 2019</li>
      <li>Pursuing a B.S.E in Computer Science Engineering</li>
    </ul>
  </div><!-- End of Education !-->

  <h3>Technical Skills</h3>
  <div class="container" id="tech-skills">
    <ul>
      <li>
        <p>
        <strong>Programming Languages: </strong>
        C++, Java, Javascript, HTML/CSS, NodeJS, Shell
        </p>
      </li>

      <li>
        <p>
        <strong>Frameworks: </strong>
        AngularJS, ExpressJS, Robot, Bash, ZSH        
        </p>
      </li>

      <li>
        <p>
        <strong>Operating Systems: </strong>
        MacOS, Window7, Linux (Ubuntu, CentOS)
        </p>
      </li>

    </ul>
  </div><!-- End of Tech Skills !-->


  <h3>Work Experience</h3>
  <div class="container" id="work">

    <p class="lead">
    GE Digital Technology Internship ( June 2017 - Present)
    </p>
    <ul>

      <li>
        Used tableau, a program to create visual representations of data, to create dashboard comparing billing data from 
        three GE online applications
      </li>

      <li>
        Wrote SQL queries, extracting data from a data lake (PostgresSQL) and oracle servers
      </li>

      <li>
        Performed test automation another GE application using robot framework, writing test cases as well as the scripts
      </li>

      <li>
        Volunteered at Maker’s Faire, worked at GE’s hackathon at registration desk

    </ul>


    <p class="lead">
    DTE Engineering Co-op (January 2017 - May 2017)
    </p>
    <ul>

      <li>
        Built an online application for customers interested in renewable energy sources and net metering. Performed 
        testing for production
      </li>

      <li>
        Web development using ASP, Javascript, and HTML/CSS
      </li>

      <li>
        Additional server work, updated old customer records and creating new customer records using excel
      </li>

      <li>
        Volunteered at Maker’s Faire, worked at GE’s hackathon at registration desk

    </ul>


  </div><!-- End of Work !-->


  <h3>Activities</h3>
  <div class="container" id="activities">

    <p class="lead">
    UM Autonomy (September 2017 - Present)
    </p>
    <ul>

      <li>
        Building an autonomous boat to compete in AUVSI (Association for Unmanned Vehicle Systems International) roboboat competition
      </li>

      <li>
        Currently part of the AI team, which handles all the software for the boat including computer vision, liar detection, 
        hydrophones, machine learning, and other areas.
      </li>


      <p class="lead">
      Intelligent Systems Club (2016 - 2017)
      </p>
      <ul>

        <li>
          Member of the power wheels' robotic team
        </li>

        <li>
          Team created an autonomous and human drivable power wheel 
        </li>

      </ul>


  </div><!-- End of Work !-->


</div><!-- End of Container !--> 
